[Desktop Entry]
Version=1.0
Type=Application
Name=File Search
Comment=
Exec=/home/evert/bin/search-gui
Icon=face-glasses
Path=
Terminal=false
StartupNotify=false
